<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Members</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/nav.css}">
    <link th:rel="stylesheet" th:href="@{/css/table.css}">

</head>
<body>

<nav class="navbar navbar-expand-lg static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Klub lekkoatletyczny</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active">
                    <div class="dropdown">
                        <a class="nav-link" href="#">Tabele</a>
                        <div class="dropdown-content">
                            <a class="nav-link" href="/workers" th:if="${userRoles.contains('ADMIN')}">Pracownicy</a>
                            <a class="nav-link" href="/coaches">Trenerzy </a>
                            <a class="nav-link" href="/physiotherapists">Fizjoterapeuci</a>
                            <a class="nav-link" href="/members" th:if="${userRoles.contains('ADMIN') || userRoles.contains('PHYSIOTHERAPIST')}">Członkowie </a>
                            <a class="nav-link" href="/groups" th:if="${userRoles.contains('ADMIN') || userRoles.contains('COACH') || userRoles.contains('PHYSIOTHERAPIST') || userRoles.contains('MEMBER')}">Grupy </a>
                            <a class="nav-link" href="/competitions">Zawody </a>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/main}">Strona główna</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}" th:if = "${userRoles.isEmpty()}">Zaloguj</a>
                    <a class="nav-link" href="#" onclick="logoutForm.submit(); return false;" th:unless = "${userRoles.isEmpty()}">Wyloguj</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:white;">
                        <b>[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>

                <form id="logoutForm" method="post" th:action="@{/index}" th:unless="${userRoles.isEmpty()}">
                    <button type="submit" style="display: none;"></button>
                </form>

            </ul>
        </div>
    </div>
</nav>

<div class="table-container">
    <h1>Członkowie klubu</h1>

    <a href="/members/new" th:if="${userRoles.contains('ADMIN') || userRoles.contains('COACH')}" >Dodaj członka</a>
    <br>

    <div class="table-content">
        <!-- Table -->
        <table border = "1" cellpadding = "10"> <!-– border – obramowanie, cellpadding – rozmiar komórki -->
            <!-- Table header -->
            <thead>
            <tr> <!-- Table row -->
                <th></th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>PESEL</th>
                <th>Data urodzenia</th>
                <th>Data zapisania</th>
                <th>Data wypisania</th>
                <th>Płeć</th>
                <th>Ważność badań</th>
                <th>Miasto</th>
                <th>Ulica</th>
                <th>Numer lokalu</th>
                <th>Kod pocztowy</th>
                <th></th>
            </tr>
            </thead>
            <!-- Table body -->
            <tbody>
            <tr th:each = "member : ${members}" th:onclick="|window.location.href='@{/members/{memberNumber}(memberNumber=${member.memberNumber})}'|"
                title="Szczegóły">

            <td></td>
                <td th:text = "${member.firstName}">Imię</td>
                <td th:text = "${member.lastName}">Nazwisko</td>
                <td th:text = "${member.pesel}">PESEL</td>
                <td th:text = "${member.dateOfBirth}">Data urodzenia</td>
                <td th:text = "${member.registrationDate}">Data zapisania</td>
                <td th:text = "${member.withdrawalDate}">Data wypisania</td>
                <td th:text = "${member.gender}">Płeć</td>
                <td th:text = "${member.medicalExaminationValidity}">Ważność badań</td>
                <td th:text = "${member.address.city}">Miasto</td>
                <td th:text = "${member.address.street}">Ulica</td>
                <td th:text = "${member.address.apartmentNumber}">Numer lokalu</td>
                <td th:text = "${member.address.mail.postalCode}">Kod pocztowy</td>
                <td th:if="${userRoles.contains('ADMIN') || userRoles.contains('COACH')}">
                    <a th:if="${member.withdrawalDate == null}" th:href="@{'/members/edit/' + ${member.memberNumber}}">Edytuj</a>
                    <br>
                    <a th:if="${member.withdrawalDate == null}" th:href="@{'/members/withdraw/' + ${member.memberNumber}}" onclick="return confirm('Czy na pewno chcesz usunąć członka?')">Wypisz</a>
                </td>
                <td th:unless="${userRoles.contains('ADMIN')}"></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
<script th:src="@{/resources/static/js/logout.js}"></script>
</body>
</html>