.title {
    padding-top: 10px;
    text-align: center;
}

.box-container {
    max-width: 70%;
    display: block;
    justify-content: center;
    margin: auto;
    align-items: start;
}

.box {
    justify-content: center;
    height: auto;
    width: auto;
    display: flex;
    margin: 10px;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info {
    font-size: 18px;
    width: auto;
    padding: 10px 30px;
}

label {
    display: block;
}

